<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dokter.ai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dokterai">
        <activity android:name=".view.HistoryDetailActivity" />
        <activity android:name=".view.HistoryActivity" />
        <activity
            android:name=".view.DetailNewsActivity"
            android:label="@string/title_activity_detail_news"
            android:theme="@style/Theme.Dokterai.NoActionBar" />
        <activity android:name=".view.HealthDiagnosisActivity" />
        <activity android:name=".view.BMICalculateActivity" />
        <activity android:name=".view.ResultDiagnosisActivity" />
        <activity android:name=".view.ChooseSymptomActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.slider.OverviewActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>